<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="content-type">
        <link rel="stylesheet" type="text/css" href="static/simple_layout.css">
        <title>Mobile Password Manager</title>
        <link rel="icon" type="image/png" href="static/img/favicon.png">
        <meta name="robots" content="noindex" />
    </head>
    
    <body>
        <div class="custom-title">
            Incorrect User or password 
        </div>
    </body>
</html>

