<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="content-type">
        <link rel="stylesheet" type="text/css" href="static/styles/login.css">
        <title>Mobile Password Manager</title>
        <link rel="icon" type="image/png" href="static/img/favicon.png">
        <meta name="robots" content="noindex" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    </head>
    
    <body>
        <div class="login-form red">
           You are now logged out.
           <p>
           <div class="button-div">
               <a href="login">Log In</a>
           </div>
        </div>
    </body>
</html>
        
